# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

bower_components
node_modules
.DS_Store
assets/sass/bourbon
npm-debug.log
.sass-cache

config.core.php
_build/build.config.php

# Ignore folders in _packaged folder
_packages/*.*
!_packages/.gitignore
!_packages/*.zip